.modelc {
    text-align: center;
    display:grid ;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color:blue;
      margin: 1px;
      width:auto;
  }